*{
    padding: 0;
    margin: 0;
}
body{
    width: 100%;
}
.catelogy{
    margin-left: 10px;
    padding: 0px 10px;
    background: #971928;
    color: #fff;
    font-size: 16px;
    font-family: "Roboto-Bold";
    text-transform: uppercase;
    line-height: 25px;
}
.first-topic-detail p{
    color: #971928;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 10px;
}
.first-topic-title{
    padding-right: 8px;
}
.first-topic-title p{
    color: black;
    font-size: 14px;
    margin-top: 10px;
    font-weight: normal;
    text-transform: none;
    padding-right: 10px;
}
.small-topic{
    background-color: #fff;
    width: 200px;
    height: 417px;
    overflow: auto;
}
.small-title p{
    color: black;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 0px;
}
.small-title a:hover{
    text-decoration: none;
}
.small-detail p{
    color: black;
    font-size: 12px;
}
.mid-cate{
    margin-bottom: 20px;
}
.mid-cate-title p{
    color: black;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 2px;
}
.mid-cate-title a:hover{
    text-decoration: none;
}
.mid-cate-img{
    display: flex;
}
.mid-cate-img img{
    width: 175px;
}
.mid-cate-detail p{
    font-size: 14px;
    padding-right: 10px;
    padding-left: 10px;
}