*{
    padding: 0;
    margin: 0;
}
body{
    width: 100%;
}
.register{
    background-color: #FAFAFA;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.view{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 5px 0;
}
.search{
    margin-right: 10px;
    background-color: white;
    border-radius: 3px;
    border: 1px solid #e5e5e5;
    display: flex;
    padding: 0px 5px 0px 0px;
}
.icon{
    padding-right: 5px;
}
.search input{
    border: 0px solid #e5e5e5;
    outline:none;
}
.sign-in button{
    padding: 0 15px;
    background-color: transparent;
    border: 0px;
    font-size: 14px;
    outline:none;
}
.sign-up button{
    padding: 0 15px;
    background-color: #9f224e;;
    border: 1px solid black;
    border-radius: 3px;
    color: white;
    font-size: 14px;
    outline:none;
}
.logoImage img{
    float: left;
    padding: 10px 0px 10px 0;
    width: 100px;
    height: 100px;
}
.navbar{
    margin-top:10px;
    padding: 0px;
}
.navbar-dark .navbar-toggler 
{
    color: rgba(255,255,255,.5);
    border-color: rgba(255,255,255,.1);
    background-color: transparent;
}
.menu nav ul{
    margin-right: -3px;
}
.menu nav ul li a
{
  color: black !important;
  font-family: SFProDisplay;
  font-size: 14px;
  font-weight: bold;
}
.navbar button
{
  background-color: gray;
}
.menu nav ul li a:hover
{
  text-decoration: none !important;
}
.footer{
    background-color: #eeeeee;
    border: 1px solid #c2c2c2;
    padding: 10px;
    position: relative;
    font-size: 12px;
    font-family: arial;
}
.footer img{
    width: 100px;
}
.introduce p{
    margin-bottom: 0px;
}
.introduce span{
    color: #a92b30;
}
.advertisement p{
    margin-bottom: 0px;
}