*{
    padding: 0;
    margin: 0;
}
body{
    width: 100%;
    margin: auto;
   
}
.logo1{
    float: left;
    padding: 0px 10px;
    background: #971928;
    color: #fff;
    font-size: 16px;
    font-family: "Roboto-Bold";
    text-transform: uppercase;
    line-height: 25px;
}
.logo1 a{
    padding: 0;
    margin: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: none;
    outline: 0;
    color: #fff;
    font-weight: normal;
    font-family: "Roboto-Bold";
}
.logo2{
    display: inline-block;
    text-transform: uppercase;
    font-family: "NotoSans";
    font-size: 14px;
    color: #868686;
    line-height: 22px;
}
.logo2 a{
    font-size: 16px;
    padding-top: 2px;
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    text-decoration: none;
    background: none;
    outline: 0;
}
.logo2 span{
    display: inline-block;
    color: #d6d6d6;
    padding: 0px 9px 0px 9px;
}
.title h1{
    padding: 5px 0px;
    font-weight: 400;
    color: #3e3e3e;
    font-size: 22px;
    font-family: "NotoSans-Bold";
}
.news span{
    background-color: #1a7900;
    color: #fff;
    padding: 0 5px;
}
.ul{
    padding: 5px 0px;
    line-height: 24px;
    color: #333;   
}
.ul li{
    color: #a96e6e;
    text-decoration: none;
}
.List-comment{
    margin-top: 15px;
}
p{
    margin:20px;
}
