*{
    padding: 0;
    margin: 0;
}
body{
    width: 100%;
}
.searchpage{
    /* background-color:#FAFAFA; */
}
.clearfix{
    background-color: white;
    padding: 20px 20px;
    width: 100%;
}
.result p{
    margin-bottom: 0px;
}
.clearfix hr{
    margin-bottom: 0px;
}
.result-title{
    margin-top: 20px;
    padding-right: 100px;
    padding-bottom: 50px;
}
.link-title p{
    margin-bottom: 0px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 12px;
}
.link-title a{
    text-decoration: underline;
}
.table-result{
    display: flex;
    margin-top: 10px;
}
.table-result img{
    width: 70px;
    height: 70px;
    margin-right: 10px;
}
.detail p{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 12px;
    margin-bottom: 0px;
}

