* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
}

.logo img {
    float: left;
    padding: 10px 0px 10px 0;
}

.Dulich0 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Dulich0 ul {
    list-style: none;
}

.Dulich0 ul li {
    display: inline;
    padding: 5px;
}

.Dulich0 ul li a {
    font-family: SFProDisplay;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #0f62ac;
    text-decoration: none;
    border: 1px solid #0f62ac;
    border-radius: 3px;
    padding: 4px 16px 4px 16px;
}

.Header {
    float: right;
}

.Header .header-right {
    text-align: right;
}

.Header .header-right a {
    text-decoration: none;
    font-family: SFProDisplay;
    color: #000000;
    font-size: 12px;
    text-align: right;
}

.header-right a:hover {
    color: #0087ff;
}

.Mail {
    text-align: right;
    margin-top: 3px;
}

.Mail img {
    margin-right: 11px;
    width: 16px;
    height: 16px;
    margin-top: -3px;
}

.Mail p {
    font-family: SFProDisplay;
    font-size: 16px;
    color: #000000;
    margin-bottom: 0px;
}

.Mail a {
    text-decoration: none;
    color: #000000;
}

.Mail span {
    font-size: 14px;
    color: #000000;
    font-family: SFProDisplay;
}

.navbar {
    margin-top: 10px;
    background-color: #0087ff;
    padding: 0px;
}

.navbar-dark .navbar-toggler {
    color: rgba(255, 255, 255, .5);
    border-color: rgba(255, 255, 255, .1);
    background-color: transparent;
}

.navbar ul {
    margin-left: 50px;
}

.menu nav ul li a {
    color: white !important;
    font-family: SFProDisplay;
    font-size: 14px;
    font-weight: bold;
}

.navbar button {
    background-color: gray;
}

.menu nav ul li:hover {
    background-color: orange;
}

.menu nav ul li a:hover {
    text-decoration: none !important;
}

.Menu2 {
    position: absolute;
    width: 100%;
}

.timkiem {
    border-radius: 3px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.12);
    background-color: white;
    padding-bottom: 20px;
    position: relative;
    bottom: 75px;
    z-index: 1;
}

.timkiemtour {
    font-family: SFProDisplay;
    font-size: 14px;
    font-weight: bold;
    color: #0f62ac;
    padding: 20px 20px 0px;
}

.Underline {
    width: 100px;
    height: 1px;
    background-color: #ff9300;
}

.ditour {
    padding: 20px 20px;
}

.ditour input {
    position: relative;
    width: 16px;
    height: 16px;
    top: 3px;
    margin-left: 5px;
}

.ditour input[type="radio"]::before {
    position: absolute;
    content: '';
    width: 16px;
    height: 16px;
    background-color: white;
    border-radius: 100%;
    border: 1px solid #0f62ac;
    cursor: pointer;
    top: -1px;
    left: -1px
}

.ditour input[type="radio"]:checked::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #0f62ac;
    left: 2px;
    top: 2px;
    border-radius: 100%;
}

.ditour span:nth-child(2) {
    margin-right: 22px;
    margin-left: 10px;
}

.ditour span:nth-child(4) {
    margin-left: 10px;
}

.tim {
    /* display: flex; */
    padding-left: 20px;
    position: relative;
    padding-right: 20px;
}

.timkiemnangcao {
    padding: 10px;
    /* /* ; */
    ;
    */.;
    border-radius: 3px;
    border: solid 1px #bbbbbb;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.12);
    background-color: white;
    width: calc(100% / 6);
    position: relative;
}

.timkiemnangcao p {
    font-family: SFProDisplay;
    font-size: 14px;
    text-align: center;
    color: #666666;
    margin-left: 20px;
    margin-bottom: 0px;
}

.timkiemnangcao .a {
    position: absolute;
    right: 20px;
    bottom: 10px;
}

.timkiemnangcao .a img {
    width: 16px;
    height: 16px;
    object-fit: contain;
}

.nut button {
    background-color: orange;
    height: 100%;
    padding: 9px 30px 9px 55px;
    font-family: SFProDisplay;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-image: url('../image/search.png');
    background-repeat: no-repeat;
    background-position: center left 20px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.12);
}

.nut button:hover {
    color: white
}

.menu2 img {
    width: 100%;
}

.Travel0 {
    position: relative;
    background-image: url(../image/Travel.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 50px;
}

.tieude {
    text-align: center;
    padding-top: 100px;
    font-size: 24px;
    color: white;
    font-weight: bold;
}

.tieude p {
    width: auto;
    height: 29px;
    font-family: SFProDisplay;
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.dv-dichvu {
    width: 100%;
}

.chondichvu {
    width: calc((100%-10px)/4);
    border-radius: 3px;
    border: solid 1px rgba(0, 0, 0, 0.12);
    background-color: white;
    padding: 15px 15px;
    margin-left: 4px;
    margin-right: 4px;
}

.cacdichvu img {
    width: 40px;
    height: 40px;
    object-fit: contain;
    margin-left: 41%;
}

.visa p {
    font-family: SFProDisplay;
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
}

.linkdichvu p {
    font-family: SFProDisplay;
    font-size: 14px;
    font-style: italic;
    color: #0087ff;
    text-align: center;
    margin-bottom: 0px;
}

.linkdichvu {
    margin-top: 22px;
}

.ghichudichvu {
    height: 36px;
    font-family: SFProDisplay;
    font-size: 14px;
    text-align: center;
    color: #666666;
}

.linkdichvu a {
    color: #0087ff;
    text-decoration: none;
    padding: 3px 3px 3px 3px;
}

.linkdichvu a:hover {
    border: 1px solid #0087ff;
    border-radius: 3px;
    cursor: pointer;
}

.hottour {
    font-family: SFProDisplay;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    margin-top: 36px;
}

.Underline1 {
    width: 100px;
    height: 2px;
    background-color: #0087ff;
}

.khuyenmaitour .nav-tabs {
    border: none;
    margin-left: 200px;
    margin-top: 27px;
}

.khuyenmaitour .nav-pills .nav-link {
    width: 160px;
    border-radius: .25rem;
    border: 1px solid #0f62ac;
    margin-left: 10px;
    text-align: center;
    font-size: 14px;
}

.khuyenmaitour .nav-item a:hover {
    background-color: #007bff;
    color: white;
}

.chiaanh {
    /* display: flex; */
    flex-wrap: wrap;
    justify-content: space-between;
}

.tourdulich {
    border-radius: 2px;
    border: solid 1px rgba(0, 0, 0, 0.12);
    background-color: white;
    position: relative;
    width: calc((100% - 18px)/5);
    margin-bottom: 10px;
}

.tourdulich:hover {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
}

.anhdulich {
    position: relative;
}

.anhdulich .item {
    overflow: hidden;
}

.anhdulich .item>img {
    width: 100%;
    max-height: 100%
}

.anhdulich .item:hover>img {
    transform: scale(1.1);
}

.item1 {
    position: absolute;
    top: 5px;
    left: -4px;
}

.item1 img {
    width: 100%;
}

.item1 .clock p {
    background-image: url('../image/clock.png');
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 21px;
    position: absolute;
    top: 7px;
    font-size: 12px;
    color: white;
    left: 6px;
}

.ngay p:nth-child(1) {
    background-image: url(../image/clock.png);
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 21px;
    position: absolute;
    bottom: 0px;
    left: 10px;
    font-size: 14px;
    color: white;
}

.ngay p:nth-child(2) {
    background-image: url(../image/user.png);
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 21px;
    position: absolute;
    bottom: 0px;
    right: 10px;
    font-size: 14px;
    color: white;
}

.khoihanh {
    font-family: SFProDisplay;
    font-size: 14px;
    font-weight: 600;
    color: #000000;
}

.travel p {
    margin-bottom: 10px;
}

.travel p:nth-child(1) {
    background-image: url('../image/traveler.png');
    background-repeat: no-repeat;
    background-size: 14px;
    padding-left: 21px;
    background-position: center left;
    font-family: SFProDisplay;
    font-size: 13px;
    color: #484848;
}

.travel p:nth-child(2) {
    background-image: url('../image/1-copy-2.png');
    background-repeat: no-repeat;
    background-size: 14px;
    padding-left: 21px;
    font-family: SFProDisplay;
    font-size: 13px;
    color: #484848;
}

.gia {
    margin-bottom: 10px;
}

.gia p:nth-child(1) {
    font-size: 12px;
    font-weight: normal;
    color: #666666;
    text-align: center;
    margin-left: 35px;
}

.gia p:nth-child(2) {
    font-family: SFProDisplay;
    font-size: 14px;
    font-weight: bold;
    color: #ff0013;
    margin-top: -15px;
    text-align: center;
}

.gia button {
    width: 90px;
    height: 30px;
    border-radius: 3px;
    background-color: #ff9300;
    margin-top: -15px;
    margin-right: 10px;
    text-align: center;
}

.gia button span {
    color: white;
    padding-top: -37px;
    position: relative;
    top: -4px;
}

.dulich {
    padding: 9px 0px 0 11px;
}

.item2 {
    position: absolute;
    top: 0px;
    right: 10px;
}

.Xemthem button {
    width: 145px;
    height: 36px;
    border-radius: 3px;
    border: solid 1px #0f62ac;
    margin-top: 20px;
    margin-left: 510px;
    color: #0f62ac;
    font-size: 14px;
}

.Xemthem button:hover {
    background-color: #0f62ac;
    color: white;
}

.Underline2 {
    margin-top: 21px;
    top: 10px;
    width: 3px;
    height: 19px;
    background-color: #ff9300;
}

.diemdennoibat {
    width: 122px;
    height: 16px;
    font-family: SFProDisplay;
    font-size: 14px;
    color: #2e2e2e;
    left: 20px;
    position: relative;
    top: 3px;
}

.text {
    font-family: SFProDisplay;
    font-size: 14px;
    color: #2e2e2e;
    position: relative;
    top: 23px;
}

.chondiadiem {
    width: 171px;
    height: 115px;
    object-fit: contain;
    margin-top: 40px;
    float: left;
    position: relative;
}

.choose {
    margin-top: 50px;
}

.choose .item {
    overflow: hidden;
}

.choose .item:hover img {
    transform: scale(1.1);
}

.item p {
    position: absolute;
    top: 80%;
    left: 49%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.choose .item a:hover p {
    color: #ffcd07;
}

.owl-theme .owl-nav [class*=owl-] {
    background: transparent;
}

.owl-theme .owl-nav {
    position: relative;
    bottom: 140px;
}

.owl-prev {
    position: absolute;
    left: -5px;
    top: 50px;
    background: transparent !important;
}

.owl-next {
    position: absolute;
    right: -5px;
    top: 50px;
    background: transparent !important;
}

.xemtatca {
    margin-left: 45%;
    font-family: SFProDisplay;
    font-size: 14px;
    font-weight: 500;
}

.xemtatca a {
    text-decoration: none;
}

.tournoibat .nav-tabs {
    border: none;
    margin-left: 27px;
    margin-top: 27px;
}

.tournoibat .nav-pills .nav-link {
    width: 161px;
    border-radius: .25rem;
    border: 1px solid #0f62ac;
    margin-left: 10px;
    text-align: center;
    font-size: 14px;
}

.tournoibat .nav-item a:hover {
    background-color: #007bff;
    color: white;
}

.menu4 {
    margin-top: 22px;
}

.menu5 {
    margin-top: 22px;
}

.ngayhethan2 {
    position: relative;
    bottom: 135px;
    left: -4px;
}

.imgsale {
    position: relative;
    top: -206px;
    left: 195px;
}

.chiacombo {
    /* display: flex; */
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.combo img {
    width: 100%;
}

.combo {
    position: relative;
}

.Combodulich {
    border-radius: 3px;
    border: solid 1px rgba(0, 0, 0, 0.12);
    background-color: white;
    float: left;
    position: relative;
    width: calc((100% - 19px)/3);
    margin-bottom: 10px;
}

.anhcombo img {
    width: 120px;
    height: 42px;
    position: absolute;
    position: absolute;
    top: 10px;
    left: -3px;
}

.anhcombo p {
    position: absolute;
    top: 15px;
    left: 20px;
    color: white;
    font-weight: bold;
}

.chiacombo {
    /* display: flex; */
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.combodulich {
    padding: 7px 10px 9px 10px;
}

.goicombo span {
    font-family: SFProDisplay;
    font-size: 16px;
    font-weight: bold;
    color: #000000;
}

.vemaybay p:nth-child(1) {
    background-image: url('../image/gift.png');
    background-repeat: no-repeat;
    padding-left: 25px;
    font-size: 14px;
    line-height: 1.29;
    margin-top: 5px;
}

.vemaybay p:nth-child(2) {
    background-image: url('../image/1-copy-22.png');
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 25px;
    font-size: 14px;
}

.vemaybay p:nth-child(3) {
    background-image: url('../image/1-copy-23.png');
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 25px;
    font-size: 14px;
}

.Tongchiphi p:nth-child(1) {
    margin-left: 37px;
    font-size: 14px;
    font-weight: normal;
    color: #666666;
    text-align: right;
}

.Tongchiphi p:nth-child(2) {
    margin-right: 0px;
    margin-top: -15px;
    font-size: 16px;
    font-weight: normal;
    color: #ff0013;
    font-weight: bold;
    text-align: right;
}

.Tongchiphi button {
    width: 120px;
    height: 36px;
    border-radius: 3px;
    background-color: #ff9300;
    margin-top: -10px;
    color: white;
}

.Tongchiphi button:hover {
    color: white;
}

.tintucnoibat {
    width: 122px;
    height: 16px;
    font-family: SFProDisplay;
    font-size: 14px;
    font-weight: bold;
    color: #000000;
    left: 20px;
    position: relative;
}

.Underline3 {
    width: 3px;
    height: 19px;
    background-color: #ff9300;
    margin-top: 86px;
}

.kinhnghiemdulich {
    width: 180px;
    height: 16px;
    font-family: SFProDisplay;
    font-size: 14px;
    font-weight: bold;
    color: #000000;
    left: 20px;
    position: relative;
}

.slider {
    width: 100%;
    position: relative;
    left: 0px;
    top: 0px;
    z-index: 1000;
    opacity: 1;
}

.daude span {
    position: absolute;
    bottom: 55px;
    left: 21px;
    font-family: SFProDisplay;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.camnang {
    position: absolute;
    width: 128px;
    height: 24px;
    border-radius: 3px;
    border: solid 1px white;
    bottom: 30px;
    left: 20px;
    font-size: 14px;
    text-align: center;
    font-style: italic;
}

.camnang a {
    color: white;
}

.camnang a:hover {
    color: blue;
    text-decoration: none;
}

.ngaydangbai span {
    position: absolute;
    bottom: 6px;
    left: 20px;
    font-size: 14px;
    color: white;
}

.news .slider .slick-slide img {
    margin-top: 10px;
}

.news .slider1 .slick-slide img {
    width: 100%;
    padding: 10px 5px 0px 5px;
}

.slick-next.slick-arrow {
    right: 0px;
    z-index: 100;
    margin-top: -55px;
}

.slick-next:before {
    display: none;
}

.slick-prev.slick-arrow {
    left: -10px;
    z-index: 100;
    margin-top: -55px;
}

.slick-prev:before {
    display: none;
}

.tieudenho {
    width: 202px;
    height: 36px;
    font-family: SFProDisplay;
    font-size: 14px;
    font-weight: bold;
    color: #000000;
    padding-left: 5px;
    padding-top: 5px;
}

.noibat {
    width: 63px;
    height: 24px;
    border-radius: 3px;
    border: solid 1px #0087ff;
    margin-top: 30px;
    margin-left: 4px;
    text-align: center;
    font-size: 14px;
    font-style: italic;
}

.noibat a {
    text-decoration: none;
}

.noibat a:hover {
    text-decoration: none;
    color: #0000ff;
}

.ngaydangbai2 {
    color: #666666;
    font-family: SFProDisplay;
    font-size: 12px;
    margin-left: 5px;
    margin-top: 10px;
}

.scrollbar {
    background-color: #F5F5F5;
    height: 490px;
    margin-bottom: 35px;
    margin-left: 0px;
    margin-top: 10px;
    width: 390px;
    overflow-y: scroll;
    background-color: white;
}

.force-overflow {
    min-height: 450px;
}

#style-1::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb {
    background-color: #0f62ac;
    border-radius: 2px;
}

.huongdan {
    margin-bottom: 9px;
}

.dulich2 img {
    width: 100%;
    height: 100%;
}

.kndl {
    margin-left: 10px;
}

.dieucanbiet a {
    font-family: SFProDisplay;
    font-size: 14px;
    font-weight: bold;
    color: black;
}

.dieucanbiet a:hover {
    color: #0f62ac;
    text-decoration: none;
}

.kndl span a:hover {
    color: #0f62ac;
    text-decoration: none;
}

.kn-dl {
    margin-top: 20px;
    color: #0087ff;
}

.kn-dl a {
    border: solid 1px #0087ff;
    border-radius: 3px;
    font-family: SFProDisplay;
    font-size: 14px;
    font-style: italic;
    padding: 5px 5px 5px 5px;
}

.kn-dl a:hover {
    color: #0087ff;
    text-decoration: none;
}

.ngaydang {
    margin-top: 8px;
    font-family: SFProDisplay;
    font-size: 12px;
    color: #666666;
}

.timhieuthem button {
    width: 390px;
    height: 36px;
    border-radius: 3px;
    background-color: #0087ff;
    color: white;
    text-align: center;
}

.timhieuthem button:hover {
    color: white;
}

.continue {
    font-family: SFProDisplay;
    font-size: 14px;
    font-weight: normal;
    font-style: italic;
    color: #0f62ac;
    float: right;
    margin-right: 55px;
    margin-top: 85px;
}

.continue a {
    text-decoration: none;
    color: #0f62ac;
}

.Video {
    margin-top: 21px;
}

.Video .slider2 p {
    width: 257px;
    height: 38px;
    font-family: SFProDisplay;
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    position: relative;
    left: 5px;
}

.slick-right.slick-arrow {
    position: absolute;
    right: 10px;
    z-index: 100;
    top: 65px;
    background-color: transparent;
    border: transparent;
}

.Video .slick-slide img {
    display: block;
    width: 100%;
    padding: 5px 5px;
}

.slick-right:before {
    display: none;
}

.slick-left.slick-arrow {
    position: absolute;
    z-index: 100;
    top: 65px;
    background-color: transparent;
    border: transparent;
}

.slick-left:before {
    display: none;
}

.continue1 {
    font-family: SFProDisplay;
    font-size: 14px;
    font-weight: normal;
    font-style: italic;
    color: #0f62ac;
    float: right;
    margin-right: 55px;
    margin-top: 20px;
}

.continue1 a {
    text-decoration: none;
    color: #0f62ac;
}

.chia-hinh-anh {
    /* display: flex; */
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.Image {
    width: calc((100% - 40px)/ 5);
    margin-bottom: 10px;
    position: relative;
}

.Image img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.Image p {
    font-family: SFProDisplay;
    font-size: 14px;
    font-weight: bold;
    color: white;
    margin-left: 7%;
    position: absolute;
    bottom: 0px;
}

.Image2 img {
    margin-left: 1px;
    margin-top: 20px;
}

.banner-home img {
    width: 100%;
    object-fit: contain;
    position: relative;
}

.doitac {
    width: 100%;
    height: 280px;
    background-color: #f1f1f1;
    position: relative;
    top: 19px;
}

.doitaccuachungtoi {
    font-family: SFProDisplay;
    font-size: 24px;
    font-weight: bold;
    color: #000000;
    position: absolute;
    top: 43px;
}

.hangdoitac {
    width: 100%;
    height: 100px;
    position: absolute;
    top: 112px;
}

.slider3 .slider-item {
    border: solid 0.5px rgba(0, 0, 0, 0.12);
    background-color: white;
    position: relative;
    height: 100px;
}

.slider3 .slider-item img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slick-right1.slick-arrow {
    position: absolute;
    right: 10px;
    z-index: 100;
    bottom: 35px;
    background-color: transparent;
    border: transparent;
    object-fit: contain;
}

.slick-left1.slick-arrow {
    position: absolute;
    z-index: 100;
    bottom: 35px;
    background-color: transparent;
    border: transparent;
    object-fit: contain;
    position: absolute;
    top: 35%;
}

.Dangky {
    background-image: url('../image/big-travel.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 0;
    /* display: flex; */
    justify-content: flex-end;
}

.dangky {
    border-radius: 3px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
    padding: 47px 30px 33px 30px;
    max-width: 360px;
    margin-right: 147px;
}

.nhanthongtin {
    margin-bottom: 25px;
}

.nhanthongtin p {
    font-size: 17px;
    padding-left: 14px;
    font-weight: bold;
    line-height: 24px;
    color: blue;
}

.dienthongtin {
    font-family: SFProDisplay;
    font-size: 14px;
    color: #000000;
    margin-bottom: 14px;
}

.dienthongtin p {
    margin-bottom: 5px;
}

.dienthongtin input {
    border-radius: 3px;
    border: solid 1px #bbbbbb;
    width: 100%;
    height: 36px;
}

.dienthongtin input::placeholder {
    font-family: SFProDisplay;
    font-size: 12px;
    font-style: italic;
    color: #bbbbbb;
}

.xacnhan button {
    width: 307px;
    height: 36px;
    border-radius: 3px;
    background-color: #0f62ac;
    margin-top: 7px;
    font-family: SFProDisplay;
    font-size: 14px;
    font-weight: bold;
    color: white;
}

.xacnhan button:hover {
    color: white
}

.sukien {
    margin-top: 17px;
    /* display: flex; */
    flex-wrap: wrap;
    justify-content: space-between;
}

.sukien>div {
    width: calc((100% - 20px)/ 3);
    overflow: hidden;
}

.sukien>div img {
    width: 100%;
    object-fit: contain;
}

.sukien>div:hover>img {
    transform: scale(1.5);
}

.hanoitourists {
    width: 100%;
    background-image: url(../image/hanoitourists.jpg);
    background-size: cover;
    height: 100%;
}

.title {
    border-left: 3px solid #ff9300;
    padding-left: 7px;
    margin-top: 46px;
}

.title h2 {
    font-size: 16px;
    color: white;
    font-weight: bold;
}

.list ul {
    margin-left: 30px;
    color: #0087ff;
    margin-top: 20px;
}

.list ul li {
    margin-top: 15px;
}

.list ul li span {
    font-family: SFProDisplay;
    font-size: 14px;
}

.list ul li span a {
    color: white;
}

.Underline4 {
    background-color: white;
}

.hnt {
    font-family: SFProDisplay;
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin-top: 16px;
}

.lienhe {
    margin-bottom: 10px;
}

.lienhe img {
    width: 16px;
    height: 16px;
    object-fit: contain;
}

.lienhe span {
    color: white;
    font-family: SFProDisplay;
    font-size: 14px;
}

.baocao {
    text-align: right;
}

.baocao img {
    margin-top: 29px;
}

.linklienhe {
    margin-top: 40px;
    margin-left: 30px;
}

.linklienhe span {
    font-family: SFProDisplay;
    font-size: 14px;
    font-weight: bold;
    color: white;
    margin-right: 14px;
}

.linklienhe img {
    margin-right: 20px;
}

.thanhtoan {
    font-family: SFProDisplay;
    font-size: 16px;
    font-weight: bold;
    color: white;
    margin-top: 31px;
}

.phuongthuc {
    width: calc(100% / 6);
    height: 80px;
    border: solid 0.5px rgba(0, 0, 0, 0.12);
    background-color: white;
    float: left;
    position: relative;
    margin-top: 39px;
}

.phuongthuc img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footter {
    width: 100%;
    background-color: #0f62ac;
    height: 30px;
    margin-top: 40px;
    text-align: center;
}

.footter span {
    font-family: SFProDisplay;
    font-size: 14px;
    color: white;
    position: relative;
    top: 2px;
}

.abc {
    display: none;
}

.bcd {
    display: none;
}

.x {
    display: none;
}

.y {
    display: none
}

.navbar-collapse {
    text-align: center;
}

@media only screen and (max-width: 1024px) {
    .Dulich0 ul li a {
        font-family: SFProDisplay;
        font-size: 14px;
        color: #0f62ac;
        text-decoration: none;
        border: 1px solid #0f62ac;
        border-radius: 3px;
        padding: 2px 2px 2px 2px;
    }
    .menu nav ul li a {
        color: white !important;
        font-family: SFProDisplay;
        font-size: 11px;
        font-weight: bold;
    }
    .timkiemnangcao p {
        margin-left: 0px;
    }
    .goiy {
        font-size: 12px;
    }
    .goiy img {
        left: 95px;
        top: -2px;
    }
    .ghichudichvu {
        font-size: 12px;
    }
    .tieude p {
        font-size: 20px;
    }
    .tieude {
        top: 34%;
    }
    .tourdulich {
        width: calc((100% - 18px)/4);
    }
    .Xemthem button {
        margin-left: 43%;
    }
    .khuyenmaitour .nav-tabs {
        margin-left: 110px;
    }
    .travel p:nth-child(1) {
        font-size: 11px;
    }
    .travel p:nth-child(2) {
        font-size: 11px;
    }
    .item p {
        font-size: 10px;
    }
    .tournoibat .nav-tabs {
        margin-left: 0px;
    }
    .tournoibat .nav-pills .nav-link {
        width: 140px;
        font-size: 11px;
    }
    .chiaanh {
        justify-content: left;
    }
    .tourdulich {
        margin-left: 4px;
    }
    .tieudenho {
        width: 185px;
    }
    .Video .slider2 p {
        font-size: 13px;
        width: 100%;
    }
    .nhapthongtin {
        position: absolute;
        left: 32px;
        top: 70px;
    }
    .thongtin {
        font-size: 16px;
        top: 20px;
    }
    .nhap span {
        font-size: 14px;
    }
    .nhap input {
        height: 28px;
    }
    .nhap1 {
        margin-top: 4px;
    }
    .nhap1 span {
        font-size: 14px;
    }
    .nhap1 input {
        height: 28px;
    }
}

@media (max-width: 768px) {
    .Header {
        display: none;
    }
    .abc {
        display: block;
    }
    .bcd {
        display: block;
    }
    .x {
        display: block;
    }
    .y {
        display: block;
    }
    .Dulich0 {
        left: 60%;
        width: 445px
    }
    .tim {
        flex-wrap: wrap;
    }
    .timkiemnangcao {
        width: calc(100% / 3);
    }
    .tourdulich {
        width: calc((100% - 18px)/3);
    }
    .timkiem {
        bottom: 115px;
    }
    .dv-dichvu .d-flex {
        flex-wrap: wrap;
    }
    .chondichvu {
        width: calc((100%-10px)/2);
        flex: 1 1 40%;
    }
    .scrollbar {
        width: unset;
    }
    .timhieuthem {
        text-align: center;
    }
    .Combodulich {
        width: calc((100% - 19px)/2);
    }
    .Video .slick-right.slick-arrow {
        top: 30px;
    }
    .Video .slick-left.slick-arrow {
        top: 30px;
    }
    .choose .owl-theme .owl-nav {
        margin-top: -10px;
    }
    .choose .item p {
        font-size: 14px;
    }
    .xemtatca {
        margin-top: 20px;
    }
    .hangdoitac .slider3 .slider-item img {
        width: 110px;
    }
    .phuongthuc {
        width: calc(100% / 3);
    }
    .d-flex {
        flex-wrap: wrap;
    }
}

@media (max-width: 414px) {
    .Dulich0 {
        display: none;
    }
    .ditour {
        font-size: 14px;
    }
    .timkiemnangcao {
        width: calc(100% / 2);
    }
    .chondichvu {
        width: calc((100%-10px)/2);
        flex: 1 1 100%;
    }
    .khuyenmaitour .nav-tabs {
        margin-left: 0px;
    }
    .tourdulich {
        width: calc((100% - 8px)/2);
    }
    .choose .owl-theme .owl-nav {
        display: none;
    }
    .tournoibat .nav-pills .nav-link {
        width: 105px;
        font-size: 12px;
    }
    .Combodulich {
        width: calc((100% - 0px) / 1);
    }
    .news .slider .slick-slide img {
        width: 100%;
    }
    .news .slick-next.slick-arrow {
        display: none;
    }
    .news .slick-prev.slick-arrow {
        display: none;
    }
    .tieudenho {
        width: unset;
    }
    .Video .slider2 p {
        font-size: 8px;
    }
    .Xemthem {
        text-align: center;
    }
    .Xemthem button {
        margin-left: unset;
    }
    .timhieuthem button {
        width: 340px;
    }
    .xemtatca {
        text-align: center;
        margin-left: unset;
    }
    .continue1 {
        margin-right: unset;
        margin-top: unset;
    }
    .Video .slick-slide {
        height: 140px;
    }
    .Video .slick-left.slick-arrow {
        display: none;
    }
    .Video .slick-right.slick-arrow {
        display: none;
    }
    .Video .slider2 p {
        font-size: 9px;
    }
    .Image {
        width: calc((100% - 10px)/ 2);
    }
    .Image p {
        font-size: 13px;
    }
    .hangdoitac .slider3 .slider-item {
        height: 65px;
    }
    .hangdoitac .slider3 .slider-item img {
        width: 55px;
    }
    .Doitac .slick-right1.slick-arrow {
        display: none;
    }
    .Doitac .slick-left1.slick-arrow {
        display: none;
    }
    .dangky {
        margin-right: 8px;
    }
    .sukien>div {
        width: 100%;
    }
    .navbar-collapse {
        text-align: left;
    }
    .huongdan .d-flex {
        flex-wrap: unset;
    }
    .combodulich .d-flex {
        flex-wrap: unset;
    }
    .tieude {
        padding-top: 135px;
    }
}

@media (max-width:375px) {
    .combodulich .d-flex {
        flex-wrap: wrap;
    }
    .Tongchiphi {
        margin-left: 60%;
        margin-top: -28%;
    }
}

@media (max-width: 320px) {
    .dangky {
        margin-right: 10px;
        max-width: 288px;
    }
    .Dangky .dangky .nhanthongtin.d-flex {
        flex-wrap: unset;
    }
    .xacnhan button {
        width: unset;
    }
    .nhanthongtin p {
        font-size: 13px;
    }
    .hangdoitac .slider3 .slider-item img {
        width: 50px;
    }
    .timhieuthem button {
        width: 290px;
    }
    .noibat {
        margin-top: 55px;
    }
    .tourdulich {
        width: calc((100% - 6px) /1);
    }
    .khuyenmaitour .nav-pills .nav-link {
        width: unset;
    }
    .continue {
        margin-top: unset;
    }
    .tournoibat .nav-pills .nav-link {
        width: 155px;
        font-size: 13px;
    }
    .tournoibat .nav-tabs .nav-item {
        margin-bottom: 4px;
    }
    .khuyenmaitour .nav-pills .nav-link {
        width: 160px;
    }
    .khuyenmaitour .nav-tabs .nav-item {
        margin-bottom: 4px;
    }
    .tieude {
        text-align: center;
        padding-top: 200px;
    }
    .Tongchiphi {
        margin-left: 70%;
    }
    .Tongchiphi button {
        width: 90px;
    }
    .timkiemnangcao {
        width: calc(100% / 1);
    }
    .ditour {
        font-size: 11px;
    }
    .tieude {
        padding-top: 260px;
    }
}