body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

img.hinhanh-main {
    width: 100%;
}

p.tomtat {
    font-size: 16px;
    font-weight: bold;
    color: #000;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

img.hinhanh-sub {
    width: 50%;
    float: left;
    margin: 0 5px;
}

ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 10px;
    padding: 0;
}

p.tomtat-sub {
    color: #000;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.col {
    margin-bottom: 5px;
    display: table;
}

p.t-b {
    font-weight: bold;
    font-size: 20px;
    float: left;
    text-transform: uppercase;
    margin-bottom: 0px;
}

.mini-menu {
    /* float: right; */
}

span.line-red {
    border-bottom: 1px solid #971928;
    width: 80%;
    display: block;
    font-size: 0px;
    float: right;
}

a.link-mini-menu {
    color: #000;
    font-size: 12px;
}

a.link-mini-menu:hover {
    color: red;
    text-decoration: none;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 5px;
}

li.tinmoi {
    background: #000;
    color: #fff;
    text-align: center;
}

.catelogy-detail {
    display: flex;
    justify-content: space-between;
}

.noidung {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.small-news{
    padding-bottom: 55px;
}
.small-news a:hover{
    text-decoration: none;
}
.small-news img{
    width: 80px;
    height: 80px;
}